*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assetes/pexels-maxyne-barcel-10402282 1.png");
    background-repeat: no-repeat;
    background-size: cover;
  background-attachment: fixed;
}

nav  section{
     padding: 80px 70px; 
    display: flex; 
    /* gap:200px;  */
    /* align-items: center; */

}
 nav  ul{
    display: flex;
    gap: 15px;
    padding: 1px 25%; 

}
 


nav ul li{
    display: flex;
    align-items: center;
    gap: 6px;
    list-style: none;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffc233;
    padding-left: 50px;
    


 }

 .small-button{
     /* font-size: 18px; 
    padding: 3px 17px;
    background-color: rgb(221, 100, 100);
    border: none;
    color: white;
    font-weight: bold;
    gap: 500px;  */ 
  padding: 3px 25px;
  background-color: #ff505f;
  border: none;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
  gap: 10px;
  margin-left: 25px;
}

 /* main{
    padding: 40px 30%;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
 } */

 .main {
    max-width: 1145px;
  margin: 0 auto;
  text-align: center;
  margin-top: 0px;
  margin-left: 25px;
   
}

.main-heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 104px;
    line-height: 110%;
    /* or 110% */
    color: #ffc233;
    padding-left: 25%;
    line-height: 100px;
    margin-top: 30px;
}
.button{
    font-size: 18px; 
    padding: 8px 30px;
    background-color: #ff505f;
    border: none;
    color: white;
    font-weight: bold;
    gap: 800px; 
    margin-left: 350px;
    
}

footer{
    margin: 0;
    margin-left: 1280px;
    
}



